#
#       AUTHOR - Raman Sailopal
#
version: "2"
services:
 yottadb:
   hostname: yottadb
   container_name: yottadb
   image: ramb0/yotta-mgweb:latest
   networks:
      - yottanet
   ports:
      - 8080:8080
      - 8001:8001
      - 7042:7042
   mem_limit: 1G
   volumes:
      - "$PWD/mapped:/opt/mgweb/mapped"
      - "$PWD/entrypoint:/home/entrypoint"
   environment:
      - glbviewport=8001
      - glbviewadd=$glbviewadd
      - ydb_gbldir=/opt/yottadb/yottadb.gld
   entrypoint: /home/entrypoint/entrypoint.sh


 node:
   image: docker.io/ubuntu
   hostname: node
   container_name: node
   volumes:
     - yottavol:/home/soliddb
     - "$PWD/QEWDApp:/home/node"
     - "$PWD/sync:/home/sync"
   entrypoint: [ "/bin/bash", "-c", "export DEBIAN_FRONTEND=noninteractive && cd /home/node && apt-get update && apt-get install -y nodejs gcc make g++ npm && npm install mg-dbx && npm install @frogcat/ttl2jsonld && node turtparse.js rsailopal.inrupt.net && tail -f /dev/null" ]
   networks:
      - yottanet


networks:
    yottanet:
volumes:
    yottavol:
